# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data dosyaları
*.csv
*.pkl
*.h5
*.zip
*.npy
*.npz
*.db
*.sqlite
*.sqlite3
assistant_db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db