# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data dosyaları
*.csv
*.pkl
*.h5
*.zip
*.npy
*.npz
*.db
*.sqlite
*.sqlite3
*.faiss
*.pdf
assistant_db

# Sozlesme inceleme asistani verileri
sozlesme_inceleme_asistani/data/

# Musteri destek botu verileri
musteri_destek_botu/musteri_destek_faq.pdf

# ai_agents_yapay_zeka_asistani verileri
ai_agents_yapay_zeka_asistani/data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db